{% extends 'nav.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
<h1>Login...</h1>
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissable" role="alert">
    <button class="close" data-dismiss="alert">
        <small><sup>x</sup></small>
    </button>
    {{message}}
</div>
{% endfor %}
{% endif %}

<form method="POST">

    {% csrf_token %}
    {{form.as_p}}

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username :</label>
        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password :</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">

    </div>
    <button type="submit" class="btn btn-primary">Submit</button><br><br>
    <h6><a href="{% url 'forgot' %}">Forgot Password?</a></h6>
</form>
<br>
<h5><a href="{% url 'register'%}">Don't have account ---> Sign UP?</a></h5>
{% endblock %}